.shell {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 1rem 5.5rem;
}

@media (min-width: 768px) {
  .main {
    padding-bottom: 1rem;
  }
}
